[Unit]
Description=Suricata Discord Alert Notifier (Bash)
After=suricata.service
Wants=suricata.service

[Service]
ExecStart=/bin/bash /opt/suricata-discord.sh
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
